<main id="about">
  <div  class="mdl-card__actions mdl-shadow--6dp mdl-grid">
    <div class="mdl-cell mdl-cell--5-col">
      <img id="me"src="../images/slack1.jpg" alt="me" class="mdl-shadow--6dp">
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-card__actions  ">
      <br><br><br><br>
      <h4><span class="btnFont">about</span></h4>
      <span class="btnFont">
        <p>
          I'm passionate about supporting small businesses, artists, and healers to develop an effective web presence.
        </p>
        <p>
          I like using software to solve intersting problems, to help connect people, and am often awestruck by the times we live in.
        </p>
        <p>
          I'm a banjoneer and flight enthusiast. I could watch birds thermaling all day.
        </p>
      </span>
    </div>


</main>
