<div>
  <main class="mdl-layout__content mdl-cell mdl-cell--12-col">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <button ng-click="show1()"class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <i class="material-icons">folder</i>
        </button>
        <h6>Projects</h6>
        <div ng-show="hidden1==false">hidden</div>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <button ng-click="show2()"class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <i class="material-icons">fingerprint</i>
        </button>
        <h6>Resume</h6>
        <div ng-show="hidden2==false">hidden</div>
      </div>
      <div class="mdl-cell mdl-cell--4-col">CS 2</div>
    </div>
  </main>
</div>
