<main class="text-center" id="buttonContainer">
  <div  class="mdl-layout__content mdl-cell--12-col">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <button ng-click="show1()"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          <h3><span class="btnFont">PROJECTS</span></h3>
          <div>
            <i class="material-icons">folder</i>
          </div>
        </button>
      </div>
      <div class="mdl-cell mdl-cell--4-col btnFont">
        <button ng-click="show3()"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          <h3><span class="btnFont">ABOUT</span></h3>
          <i class="material-icons">filter_hdr</i>
        </button>

      </div>
      <div class="mdl-cell mdl-cell--4-col btnFont">
        <button ng-click="show2()"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          <h3><span class="btnFont">RESUME</span></h3>
          <i class="material-icons">fingerprint</i>
        </button>
      </div>
    </div>
  </div>
</main>

<div class="mdl-cell mdl-cell--12-col" id="hiddenContainer">
  <div ng-if="hidden1==false" id="siteContainer">

    <div class="demo-card-image mdl-card mdl-shadow--4dp">
      <div id="local"class="mdl-card__title mdl-card--expand">
        <img style="width:100%;height:115%;"src="../images/localsounds.png" alt="local sounds">
      </div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename">Local Sounds</span>
      </div>
    </div><br>
    <div  class="demo-card-image mdl-card mdl-shadow--4dp">
      <div id="gnosh" class="mdl-card__title mdl-card--expand">
        <img style="width:100%;height:115%;"src="../images/gnosh.png" alt="gnosh">
      </div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename">Gnosh</span>
      </div>
    </div><br>
    <div class="demo-card-image mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename">reddit clone</span>
      </div>
    </div>
  </div>
  <div id="resume" ng-if="hidden2==false">

    <div id="embed">
      <embed  class="text-center"src="/documents/bouchard_cv.pdf" width="800" height="1100" alt="pdf"pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
      </div>

    </div>

    <div id="about"ng-if="hidden3==false" class="mdl-card__actions mdl-shadow--6dp col-md-12">
      <div class="  col-md-4">
        <!-- <img id="me2"src="../images/mateo.jpg" alt="me" class="mdl-shadow--6dp"> -->

        <img id="me"src="../images/slack1.jpg" alt="me" class="mdl-shadow--6dp">
      </div>
      <div class="mdl-cell col-md-4">
        <h4><span class="btnFont">about</span></h4>
<span class="btnFont">
<p>
I'm passionate about supporting small businesses, artists, and healers to develop an effective web presence.
</p>
<p>
I like using software to solve intersting problems, to help connect people, and am often awestruck by the times we live in.
</p>
<p>
  I'm a banjoneer and flight enthusiast. I could watch birds theramaling all day.
</p>
</span>

      </div>
      <div class="mdl-cell col-md-4">
        <h4><span class="btnFont">stack</span></h4>
        <ul class="col-md-4">
          <span class="btnFont">
            <li>JavaScript</li>
            <li>AngularJS</li>
            <li>NodeJS</li>
            <li>Express</li>
            <li>PostgreSQL</li>
            <li>JQuery</li>
            <li>sockets.io</li>
            <li>TDD</li>
            <li>Jasmine</li>
            <li>Mocha/Chai</li>
            <li>Git</li>
            <li>Knex</li>
            <li>Heroku</li>
            <li>Firebase</li>
          </span>
        </ul>
        <ul class="col-md-offset-2 col-md-4">
          <span class="btnFont">
            <li>Material Design</li>
            <li>WordPress</li>
            <li>AWS/EC2</li>
            <li>Bootstrap</li>
            <li>HTML</li>
            <li>SCSS/CSS</li>
            <li>Polymer</li>
            <li>Python</li>
            <li>Ruby</li>
            <li>PHP</li>
            <li>Java</li>
          </span>
        </ul>
      </div>
    </div>
    <div>
    </div>
  </div>
