<div id="siteContainer">

  <div class="demo-card-image mdl-card mdl-shadow--4dp">
    <div id="local"class="mdl-card__title mdl-card--expand">
      <img style="width:100%;height:115%;"src="../images/localsounds.png" alt="local sounds">
    </div>
    <div class="mdl-card__actions" style="height:135px;">
      <span class="demo-card-image__filename"><a target="_blank" class='projectLink' href="https://sound-project.firebaseapp.com/">local sounds</a></span>
      <div style="color:black;">Sample music from the bands playing in your town. Search by city, state,  date, and radius to access SoundCloud tracks and venue information. Combines the Bandsintown and SoundCloud APIs.
      </div>
      <div style="color:black;">[ HTML5, CSS3 , Javascript,  JQuery,  Firebase ]</div>
    </div>
  </div>
  <br>
  <div  class="demo-card-image mdl-card mdl-shadow--4dp">
    <div id="gnosh" class="mdl-card__title mdl-card--expand">
      <img style="width:100%;height:115%;"src="../images/gnosh.png" alt="gnosh">
    </div>
    <div class="mdl-card__actions" style="height:135px;">
      <span class="demo-card-image__filename"><a target="_blank" class='projectLink' href="http://gnosh.herokuapp.com">gnosh.</a></span>
      <div style="color:black;">Proof-of-concept site for a food delivery service catered mostly towards people with dietary restrictions. Think Dollar Shave Club but for delicious snacks.
      </div>
      <div style="color:black;">[ SendGrid API , Stripe API , PostgreSQL , Express , node.js , HTML5 , CSS3 ]</div>
    </div>
  </div><br>
  <div class="demo-card-image mdl-card mdl-shadow--4dp">
    <div id="reddit"class="mdl-card__title mdl-card--expand"></div>
    <img style="width:98%;height:115%;"src="../images/r_clone.png" alt="reddit">
    <div class="mdl-card__actions" style="height:135px;">
      <span class="demo-card-image__filename"><a target="_blank" class='projectLink' href="http://mbredclone.herokuapp.com">reddit clone</a></span>
      <div style="color:black;">Proof-of-concept site built as a SPA using Angular. CRUD posts and vote for your favorite. I think this could catch on...
      </div>
      <div style="color:black;">[ AngularJS , Angular Ionic, Cordorva,, PostgreSQL , Express , node.js ]</div>
    </div>
  </div><br>
  <div class="demo-card-image mdl-card mdl-shadow--4dp">
    <div id="yodel"class="mdl-card__title mdl-card--expand"></div>
    <img style="width:100%;height:90%;"src="../images/yodel.png" alt="yodel">
    <div class="mdl-card__actions" style="height:135px;">
      <span class="demo-card-image__filename projectLink">yodel</span>
      <div style="color:black;"> Location based app to connect people in real time based on mutual interests. (Link to video demo coming soon...)
      </div>
      <div style="color:black;"> [ AngularJS , Ionic, Angular Cordorva,  PostgreSQL , Express , node.js, Sockets.io ]
      </div>


    </div>
  </div>
</div>
