<footer id="footer" class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo"><span id="footerFont">&copy 2016 Matthew Bouchard</span></div>
    <ul class="mdl-mini-footer__link-list">

    </ul>
  </div><div class="mdl-mini-footer__right-section">
    <div class="iconContainer text-center">
      <a href="https://github.com/MatieuB">
        <i class="fa fa-github mdl-cell mdl-cell--3-col" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/matthewjbouchard">
        <i class="fa fa-linkedin mdl-cell mdl-cell--3-col" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/MatieuBouchard">
        <i class="fa fa-twitter mdl-cell mdl-cell--3-col" aria-hidden="true"></i></i>
      </a>
      <a href="mailto:bouchard.matthewj@gmail.com">
        <i class="fa fa-envelope mdl-cell mdl-cell--3-col" aria-hidden="true"></i>
      </a>
    </div>
  </div>

</footer>
