<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header id="header" class="mdl-layout__header mdl-layout--fixed-header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a ui-sref="home">  <span id="titleFont"><span id="title"><h4 style="font-family:quicksand;font-size:32px;">MATTHEW BOUCHARD <br>web-developer  <img style="width:9%"src="/images/sg2.png" alt="sugar_glider"></h4>
      </span></span>
            </a>
            </span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->

            <div class="navButtons">
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class=" mdl-navigation__link mdl-js-button mdl-button mdl-js-ripple-effect  mdl-navigation__link mdl-cell mdl-cell--1-col" ui-sref="home">HOME<i class="material-icons">filter_hdr</i></a>

                    <!-- <span id="projects"> -->
                    <a class=" mdl-navigation__link mdl-js-button mdl-button mdl-js-ripple-effect  mdl-navigation__link " ui-sref="projects">projects<i class="material-icons">folder</i></a>
                    <!-- </span> -->
                    <!-- <span id="resBtn">   -->
                    <a class="mdl-navigation__link mdl-navigation__link mdl-js-button mdl-button mdl-js-ripple-effect" ui-sref="resume">Resume<i class="material-icons">fingerprint</i></a>
                    <!-- </span> -->


                </nav>
            </div>
        </div>
    </header>
</div>
<div class="mdl-layout__drawer">
    <br><br>
    <span class="mdl-layout-title">
    <a ui-sref="home"
    <span id="drawerTitle">
      <span id="title">
        <p style="font-family:quicksand;font-size:26px;">MATTHEW BOUCHARD <br><span style="font-size:20px;">web-developer</span><img class="text-center" style="width:11%" src="/images/sg2.png" alt="sugar_glider">
    </p><br>
    </span>
    </span>
    </a>
    </span>
    <hr>
    <nav class="mdl-navigation ">
        <div>
            <a class="drawerBtns mdl-navigation__link mdl-js-button mdl-button mdl-js-ripple-effect  mdl-navigation__link mdl-cell mdl-cell--1-col" ui-sref="home">HOME<i class="material-icons">filter_hdr</i></a>
        </div><br><br><br><br><br><br>

        <!-- <span id="projects"> -->
        <div>
            <a class="drawerBtns mdl-navigation__link mdl-js-button mdl-button mdl-js-ripple-effect  mdl-navigation__link " ui-sref="projects">projects<i class="material-icons">folder</i></a>
        </div><br><br><br><br><br><br>
        <!-- </span> -->
        <!-- <span id="resBtn">   -->
        <div>
            <a class="drawerBtns mdl-navigation__link mdl-navigation__link mdl-js-button mdl-button mdl-js-ripple-effect" ui-sref="resume">Resume<i class="material-icons">fingerprint</i></a>
        </div><br><br><br><br>
        <!-- </span> -->
    </nav>
</div>
