body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: quicksand;
  background-color: rgb(243, 243, 243);
  color:white;
}


.mdl-navigation__link{
  color:black;
  font-size: 14px;
  width:100%;
  height: 100%;


}
h4{
  padding-left: 0;
  margin:0;
}
#htmlRes{
  margin: 0 auto;
  align-content: center;
  width:80%;
}


.demo-layout-transparent {
  background-color: rgb(210, 210, 210);
}

.demo-layout-transparent .mdl-layout__header{
  /* This background is dark, so we set text to white. Use 87% black instead if
  your background is light. */
  position: absolute;
  color: black;




}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  width: 256px;
  background: url('') center / cover;
}
#local .demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  /*background: url('../images/localsounds.png') center / cover;*/
}
.demo-card-image.mdl-card{
  width:55%;
  margin:0 auto;
}
#gnosh .demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  /*background: url('../images/gnosh.png') center / cover;*/
}
#reddit .demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('../images/reddit_clone.png') center / cover;
  /*padding-left: 1%;
  padding-right:1%;*/
}
#yodel .demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('../images/yodel.png') center / cover;
  /*padding-left: 1%;
  padding-right:1%;*/
}
#redPic{
  width: 98%;
  /*margin:1%;*/
  padding:2%;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.fade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}
#hiddenContainer{
  display:flex;
  width:100%;
  /*align-items: center;*/
}
#siteContainer{
  height:800px;
  /*width:50%;
  background-color: rgba(218, 214, 227, 0.47);*/
  margin: 5% auto;
  overflow: scroll;
}
#resume {
  margin:10% auto;
  color:white;
  /*width:200%;*/
}
#about{
  border-radius: 9%;
  margin:3% auto;
  width:80%;

  /*background-color: rgba(90, 110, 140, 0.4);*/
  height: 525px;
  /*overflow: scroll;*/
  color:rgb(149, 48, 26);//deep red
}
.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect{

}
.material-icons{
  font-size: 20px;
}
/*#buttonContainer{
display:inline-flex;
padding-left: 22%;
/*margin-top:11%;*/
/*margin-bottom: 7%;*/
/*display: inline-flex;*/
width:100%;
align-content:space-between;
/*justify-content: space-around;*/
/*flex-direction: column;
}*/
main{
  display: flex;
  position: relative;
}

#me2{
  margin-top: 5%;
  width:70%;
  border-radius: 3%;
  /*height:20%;*/
  border: 5px solid grey;
}
.iconContainer{
  margin: 30px auto;
  width:95%;
  align-content: space-between;
  justify-content: center;
  display:inline-flex;
}
#title{
  width:45%;
  height: 85%;

}
#titleFont{
  font-size: 100px;
  text-decoration:none;
}
/*h2{
margin-top: 5%;
/*margin-right: 0px;*/
font-family: quicksand;
font-size: 26px;
color:rgb(217, 215, 204);
width:100%;
padding-bottom:9%;
}*/
.mdl-button.mdl-js-ripple-effect {
  width:35%;
  height:50px;
  background-color: rgb(204, 128, 28);
  /*padding-bottom: 40px;
  margin-bottom: 20px;*/
  font-size: 20px;

}
.btnFont{
  font-family: quicksand;
}
i.material-icons{
  font-size: 26px;
  color:rgb(149, 48, 26);//deep red
}
#footer{
  height:30%;
  background-color: rgb(177,120,72);

  position:sticky;
  padding:0;
}
.mdl-card__title.mdl-card--expand{
  background-color: rgb(177,120,72);
}
#header{
  font-family: quicksand;
  padding-top:2%;
  padding-left:0%;
  padding-bottom:1%;
  margin-left: 0px;

  background-color: rgb(177,120,72); //burnt orange
  height:125px;
  color:rgb(195, 187, 188);
}
#header.mdl-layout__header{

}
.mdl-mini-footer__right-section{
  font-size:32px;
  padding-right: 3%;
}
.mdl-mini-footer__left-section{
  font-size:20px;
  /*padding-right: 2%;*/
  padding-top:3%;
  padding-left:1%;

}
#projects{
  width:170%;
}
#resBtn{
  width:145%;
}

.navButtons.mdl-navigation.mdl-layout--large-screen-only{
  /*padding-left: 17%;*/

  /*position: relative;*/
  /*display:inline-flex;*/
  /*align-items: stretch;*/
  /*width:180%;*/
}
.navButtons{
  padding-left: 5%;
  width:45%
}
#titleFont{
  text-decoration: none;
}
#mateo{
  width:100%;
  border-radius: 5%;
  margin-left:2%;
}
#home{
  margin-top: 2%;
  font-size: 18px;
  color:rgb(149, 48, 26);
}
#homeText{
  margin: 2% 5%;

  /*margin-left:7%;*/
  /*padding-left: 20%;*/
  /*margin-right: 0;*/
  width:100%;
}
#me{
  margin:0 auto;
  /*margin-left: 19%;*/
  /*width:125%;*/
  width:75%;
  height:75%;
  border-radius: 3%;
  border: 2px solid grey;
}
a{
  color:rgb(193, 192, 180);
  text-shadow:1px;
}

a:hover{
  color:rgb(196, 183, 68);
}
#email{
  color:black;
}
#email:hover{
  color:rgb(196, 183, 68);
}
/*.mdl-navigation{
padding-left:35%;
padding-right:0px;
}*/
.mdl-layout__drawer-button .material-icons{
  font-size:50px;
}
@media screen and (min-width: 1024px) {
  .mdl-layout__drawer-button {
    display:none;
  }
}
.projectLink{
  color:rgb(177,120,72);
  text-decoration: none;
}
.demo-card-image__filename{
  font-size:20px;
}
.demo-card-image {
    transition: .25s ease;
}
.demo-card-image:hover {
    transform: scale(1.05);
    transition: 1s ease;
}
.drawerBtns{
  font-size:26px;
}
#drawerTitle{
  font-size:34px;
}
