body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}


.mdl-navigation__link{
  color:black;
  font-size: 24px;
  width:100%;
}


.demo-layout-transparent {
  background-color:rgba(124, 123, 28, 0.4);

  /*rgba(98, 162, 171, 0.76);*/

}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
  your background is light. */
position: fixed;
  color: black;


}
.mdl-layout__drawer{
  font-size: 30px;
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  width: 256px;
  background: url('') center / cover;
}
#local .demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('../images/localsounds.png') center / cover;
}
.demo-card-image.mdl-card{
  width:55%;
  margin:0 auto;
}
#gnosh .demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('../images/gnosh.png') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.fade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}
#hiddenContainer{
  display:flex;
width:100%;
  /*align-items: center;*/
}
#siteContainer{
  height:800px;
  /*width:50%;
  background-color: rgba(218, 214, 227, 0.47);*/
  margin: 0 auto;
  overflow: scroll;
}
#resume {
  margin:0 auto;
  color:white;
  /*width:200%;*/
}
#about{
  border-radius: 5%;
  margin:0 auto;
  width:80%;

  background-color: rgba(90, 110, 140, 0.4);
  height: 525px;
  /*overflow: scroll;*/
  color:rgb(149, 48, 26);//deep red
}
.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect{

}
.material-icons{
  font-size: 28px;
}
#buttonContainer{
  display:flex;
  margin-top:11%;
  margin-bottom: 7%;
  width:100%;
  /*align-content:space-around;*/
  justify-content: space-between;
  /*flex-direction: column;*/
}
main{
  display: flex;
  position: relative;
}
#me{
  margin-top:15%;
  width:100%;
  border-radius: 3%;
  border: 5px solid grey;
}
#me2{
  margin-top: 5%;
  width:70%;
  border-radius: 3%;
  /*height:20%;*/
  border: 5px solid grey;
}
.iconContainer{
  margin: 30px auto;
  width:95%;
  align-content: space-between;
  justify-content: center;
  display:inline-flex;
}
.mdl-layout__drawer{
  /*display: inline-flex;
  align-self: center;*/
  font-size: 36px;
  display:flex;
  align-content: space-between;
}
.mdl-layout__drawer-button.material-icons{
  font-size: 36px;
}
#title{
  width:100%;
}
h2{
  margin-top: 5%;
  /*margin-right: 0px;*/
  font-family: monospace;
  font-size: 50px;
}
.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect {

  width:90%;
  height:100%;
  background-color: rgb(204, 128, 28);
  padding-bottom: 40px;
  margin-bottom: 20px;
}
.btnFont{
  font-family: monospace;
}
i.material-icons{
  font-size: 60px;
  color:rgb(149, 48, 26);//deep red
}
#tree{
  width:45%;
}
#footer{
  height:111%;
  /*width:100%;*/
  /*background: no-repeat;*/
  background-color: rgba(255, 255, 255, 0);
  background-image:url('../images/dinosaur.jpg');
  /*background:*/
  position:relative;
}
.mdl-card__title.mdl-card--expand{
  background-color: rgb(149, 48, 26);
}
#header{
  position: absolute;
  padding:1%;
  margin-bottom: 20px;

  height:125px;
  background-color: rgb(159, 212, 213);

  /*rgba(98, 162, 171, 0.76)*/
}
