<header id="header"class="mdl-layout__header mdl-layout">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title text-center" id="title"><h2>MATTHEW BOUCHARD <img src="/images/sg2.png" alt="sugar_glider"> web-developer</h2></span>
    <!-- <span aria-expanded="false" role="button" tabindex="0"class="mdl-layout__drawer-button mdl-js-layout" target="mdl-layout__drawer">
    <i class="material-icons">folder</i>
  </span> -->
  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer">


  </div>
  <!-- <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">About</a>
      <a class="mdl-navigation__link" href="">Projects</a>
      <a class="mdl-navigation__link" href="">Resume</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav> -->
  <!-- Navigation -->
  <nav class="mdl-navigation">
    <!-- <main class="text-center" id="buttonContainer"> -->
      <!-- <div  class="mdl-layout__content mdl-cell--12-col"> -->
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col">
            <button ng-click="show1()"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              <h3><span class="btnFont">PROJECTS</span></h3>
              <div>
                <i class="material-icons">folder</i>
              </div>
            </button>
          </div>
          <div class="mdl-cell mdl-cell--4-col btnFont">
            <button ng-click="show3()"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              <h3><span class="btnFont">ABOUT</span></h3>
              <i class="material-icons">filter_hdr</i>
            </button>

          </div>
          <div class="mdl-cell mdl-cell--4-col btnFont">
            <button ng-click="show2()"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              <h3><span class="btnFont">RESUME</span></h3>
              <i class="material-icons">fingerprint</i>
            </button>
          </div>
        </div>
      <!-- </div> -->
    </main>
  </nav>
</div>
</header>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">

<!-- <div class="mdl-layout__drawer">
  <span class="mdl-layout-title">nav</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">Home</a>
    <a class="mdl-navigation__link" href="">CV</a>
    <div class="iconContainer">
      <a href="https://github.com/MatieuB">
        <i class="fa fa-github mdl-cell mdl-cell--3-col" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/matthewjbouchard">
        <i class="fa fa-linkedin mdl-cell mdl-cell--3-col" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/MatieuBouchard">
        <i class="fa fa-twitter mdl-cell mdl-cell--3-col" aria-hidden="true"></i></i>
      </a>
      <a href="mailto:bouchard.matthewj@gmail.com">
        <i class="fa fa-envelope mdl-cell mdl-cell--3-col" aria-hidden="true"></i>
      </a>
    </div>
  </nav>
</div> -->
